.Scoreboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 127, 80, 0.8);
}
.Scoreboard table {
  border-collapse: collapse;

  background-color: white;
  border: 5px solid coral;
}
.Hidden {
  display: none;
}
.Scoreboard h1 {
  color: white;
}
